# Auto detect text files and perform LF normalization
* text=auto
*.zip filter=lfs diff=lfs merge=lfs -text
panacea/PANACEA_COMPLETE_EXTRACTION.md filter=lfs diff=lfs merge=lfs -text
cortex_hierarchy/specialized/PANACEA_COMPLETE_EXTRACTION.md filter=lfs diff=lfs merge=lfs -text
